---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="一些随手做的小东西"
	description="Just something I threw together"
	pubDate={new Date('11 20 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>**一片空白。。。**</p>
    <p>**看来这个人没什么作品呢**</p>
</Layout>
